<form action="" novalidate #f="ngForm" (ngSubmit)="onSubmit()">
    <fieldset ngModelGroup="name">
        <div class="form-group">
            <label for="">First Name</label>
            <input type="text" class="form-control" name="fname" [(ngModel)]="model.firstName" required minlength="3" #fname=ngModel [ngClass]="{'is-invalid': fname.invalid && (fname.dirty || fname.touched)}">
            <div class="form-control-feedback" *ngIf="fname.errors && (fname.dirty || fname.touched)">
                <p *ngIf="fname.errors.required">Firstname is required</p>
                <p *ngIf="fname.errors.minlength">Name should be more than 3 characters</p>
            </div>
        </div>
        <div class="form-group">
            <label for="">Last Name</label>
            <input type="text" class="form-control" name="lname" [(ngModel)]="model.lastName" required minlength="3" #lname=ngModel [ngClass]="{'is-invalid': lname.invalid && (lname.dirty || lname.touched)}">

            <div class="form-control-feedback" *ngIf="lname.errors && (lname.dirty || lname.touched)">
                <p *ngIf="lname.errors.required">Lastname is required</p>
                <p *ngIf="lname.errors.minlength">Lastname should be more than 3 characters</p>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required pattern="[^ @]*@[^ @]*" #email=ngModel [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}">

        <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">Email is required</p>
            <p *ngIf="email.errors.pattern">Email must contain at least the @ character</p>
        </div>
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" required minlength="8" [(ngModel)]="model.password" #password=ngModel [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}">

        <div class="form-control-feedback" *ngIf="password.errors && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">Password is required</p>
            <p *ngIf="password.errors.minlength">Password has to be 8 characters long</p>
        </div>
    </div>

    <div class="form-group">
        <label for="">Language</label>
        <select name="" id="" class="form-control" name="language" [(ngModel)]="model.language" ngModel>
            <option value="">Please select a language</option>
            <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
        </select>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pre>{{f.value | json}}</pre>
        </div>
    </div>    
</form>