<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h4>Learning Objectives</h4>
			<ul>
				<li>Know the difference and similarities between template-driven forms and model-driven forms.</li>
				<li>How to use the ngModel directive to link template input controls to properties on the component</li>
				<li>How to implement form validation in the template driven approach</li>
				<li>How to submit and reset a form in template-driven approach</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 text-center">
			<button class="btn btn-primary" routerLink="/templateform">Start</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>

